<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Portfólio | Adaiana</title>
  <link rel="stylesheet" href="../../../public/css/estilo_portifolio.css">
</head>
<body>
  <header>
    <a href="../../../index.html">
      <img src="../../../public/imagens/Logo.jpg" alt="Logo Last Seven">
    </a>
    <h1>Adaiana</h1>
  </header>
  
     <main>
       <div class="card">
          <div class="card-content">
            <section class="sobre">
              <h2>Maneira de Trabalhar</h2>
              <p>Adaiana atua no Desenvolvimento fullstack de sites de sistemas ultilizando HTML, CSS, JavaScript, PHP, Java e MySQL.</p>
            </section>
            <section class="habilidades">
              <h2>Habilidades</h2>
              <ul>
                <li>HTML5 e CSS3</li>
                <li>JavaScript</li>
                <li>Suporte Técnico</li>
                <li>Metodologias Ágeis</li>
             </ul>
           </section>
           <section class="afinidades">
               <h2>Afinidades</h2>
               <p>Infraestrutura de redes, atendimento ao usuário e documentação técnica.</p>
           </section>
            <a href="../equipe.html" class="voltar">&larr;Voltar</a>
         </div>
     </div>
  </main>
  
  <footer>
    <p>&copy; 2025 Last Seven. Todos os direitos reservados.</p>
  </footer>
</body>
</html>