<!DOCTYPE html><html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Projetos | Last Seven</title>
  <link rel="stylesheet" href="../../public/css/estilo_projetos.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <div class="header-container">
      <a href="../../index.html">
      <img src="../../public/imagens/Logo.jpg" alt="logo last seven" class="logo">
      </a>
      <div class="header-texto">
  <h1>Last Seven</h1> 
  <p>Gerando Ideias, Criando soluções</p>
</div>
<div class="voltar-wrapper">
  <a href="../../index.html" class="voltar">Voltar</a>
</div>

</div>
  </header> 
  <main>
    <h2>Projetos</h2>
    <div class="card-container">
      <a href="ex_projetos/CONTROLE_GASTOS/index.html">
      <div class="card">
        <h3>Controle de gastos 📁</h3>
        <p>Sistema web responsivo simples para um controle de gastos com serviços.</p>
      </div>
      </a>
      
      <a href="ex_projetos/ESCOLA/index.html">
      <div class="card">
        <h3>Controle escolar notas 📁</h3>
        <p>Sistema web responsivo para contole de situação do aluno.</p>
      </div>
      </a>
      
      <a href="ex_projetos/E-COMERCE/index.html">
      <div class="card">
        <h3>Site e-commerce 📁</h3>
        <p>Site e-commerce de venda de produtos.</p>
      </div>
      </a>
      
      <a href="ex_projetos/PARQUIMETRO/index.html">
      <div class="card">
        <h3>Parquimetro 📁</h3>
        <p>Controle de estacionamento com pagamento digital.</p>
      </div>
      </a>
      
      <a href="ex_projetos/ENDEREÇO/index.html">
      <div class="card">
        <h3>Busca de Endereço 📁</h3>
        <p>Sistema para o preenchimento automático do endereço através do cep.</p>
      </div>
      </a>
    </div>
   
  </main> 
  <footer>
    <p>&copy; 2025 Last Seven. Todos os direitos reservados</p>
  </footer>
</body>
</html>