<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Equipe | Last Seven</title>
  <link rel="stylesheet" href="../../public/css/estilo_page_equipes.css">
</head>
<body>

  <!-- Header igual ao index -->
  <header>
    <div class="header-container">
      <a href="../../index.html">
      <img src="../../public/imagens/Logo.jpg" alt="Logo Last Seven" class="logo" >
      </a>
      <div class="header-texto">
        <h1>Last Seven</h1>
        <p>Conheca Nossa Equipe</p>
      </div>
    </div>

    <nav class="menu">
      <a href="../../index.html">Início</a>
      <a href="../projetos/projetos.html">Projetos</a>
      <a href="../pedidos/contato.html">Pedido</a>
    </nav>
  </header>

  <!-- Cards da equipe -->
  <main>
    <section class="card-container">
      <div class="cards-container">
      <!-- Card 1 -->
      <div class="card">
        <img class="card-img" src="../../public/imagens/adaiana.jpg" alt="Pessoa 1">
        <h3>Adaiana</h3>
        <a href="Perfil_equipe/Adaiana.html">Ver Perfil</a>
      </div>

      <!-- Card 2 -->
      <div class="card">
        <img class="card-img" src="../../public/imagens/eduarda.jpg" alt="Pessoa 2">
        <h3>Eduarda</h3>
        <a href="Perfil_equipe/Eduarda.html">Ver Perfil</a>
      </div>

      <!-- Card 3 -->
      <div class="card">
        <img class="card-img" src="../../public/imagens/gean.jpg" alt="Pessoa 3">
        <h3>Gean Gregy</h3>
        <a href="Perfil_equipe/gean.html">Ver Perfil</a>
      </div>

      <!-- Card 4 -->
      <div class="card">
        <img class="card-img" src="../../public/imagens/vinicius.jpg" alt="Pessoa 4">
        <h3>Vinicius Moreira</h3>
        <a href="Perfil_equipe/Vinicius.html">Ver Perfil</a>
      </div>

      <!-- Card 5 -->
      <div class="card">
        <img class="card-img" src="../../public/imagens/joao.jpg" alt="Pessoa 5">
        <h3>João Vitor</h3>
        <a href="Perfil_equipe/Joao.html">Ver Perfil</a>
      </div>

      <!-- Card 6 -->
      <div class="card">
        <img class="card-img" src="../../Imagens/pessoa6.jpg" alt="Pessoa 6">
        <h3>Nicholas Bollate</h3>
        <a href="Perfil_equipe/Nicholas.html">Ver Perfil</a>
      </div>

      <!-- Card 7 -->
      <div class="card">
        <img class="card-img" src="../../public/imagens/kleber.jpg" alt="Pessoa 7">
        <h3>Kleber Lucas</h3>
        <a href="Perfil_equipe/kleber.html">Ver Perfil</a>
      </div>
      </div>
    </section>
  </main>

  <!-- Footer igual ao index -->
  <footer>
    <p>&copy; 2025 Last Seven. Todos os direitos reservados.</p>
  </footer>

</body>
</html>